Source: td-process-exporter
Section: admin
Priority: optional
Maintainer: Tada.team <info@tada.team>
Build-Depends: debhelper (>=10), dh-systemd, golang-go
Standards-Version: 3.9.4

Package: td-process-exporter
Architecture: %ARCH%
Description: custom github.com/tada-team/process-exporter build
