Package: td-process-exporter
Section: admin
Maintainer: Tada.team <info@tada.team>
Build-Depends: debhelper (>= 9), dh-systemd
Version: %VERSION%
Architecture: %ARCH%
Description: custom github.com/tada-team/process-exporter build
