#!/usr/bin/make -f

export DH_VERBOSE=1

PKGDIR=debian/tmp

%:
	dh $@ --with systemd

override_dh_installinit:
	dh_systemd_enable -pprocess-exporter --name=process-exporter process-exporter.service
	dh_installinit -pprocess-exporter
	dh_systemd_start -pprocess-exporter process-exporter.service
