#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@ --with=systemd --with=golang

build:
	cd usr/src/process-exporter && go build cmd/process-exporter/main.go
	mv -fv usr/src/process-exporter/main usr/bin/process-exporter

override_dh_golang:
	echo "noop"
